<div class="sec-one">
        <img width='200' src="/images/beer.png" alt="Glass of Beer">

        <button><a href="/beers">Check the Beers!</a></button>

        <button><a href="/random-beer">Check a Random Beer!</a></button>

</div>